// Start of Blog page
header.entry-header.ast-no-thumbnail {
    padding: 0 !important;
}

.ast-archive-description {
    border-bottom: none;
}

div#secondary {
    padding: 0 3% !important;
}

// End of Blog page

.ast-article-single {
    padding-left: 2rem;
}
input#submit {
    -webkit-box-shadow: $theme-neumorphism;
    -moz-box-shadow: $theme-neumorphism;
    box-shadow: $theme-neumorphism;
}
button {
    -webkit-box-shadow: $theme-neumorphism;
    -moz-box-shadow: $theme-neumorphism;
    box-shadow: $theme-neumorphism;
}