.footer-adv-overlay {
    padding: 2rem 0;

    h2 {
        font-size: 1.2rem !important;
    }


}

.ast-small-footer {
    &>.ast-footer-overlay {
        font-size: .8rem;
        padding: 1rem 0;
    }
}