.main-header-bar {
    position: fixed;
    width: 100vw;
    transition: all .5s ease-in-out;
    -webkit-box-shadow: $theme-neumorphism;
    -moz-box-shadow: $theme-neumorphism;
    box-shadow: $theme-neumorphism;

    .main-navigation {
        a {
            font-size: .9rem;
        }
    }
}

.site-branding {
    padding: 0 !important;

}

.ast-site-identity {
    padding: 1em 0 0 0;
}

.nav-user-name {
    z-index: 999;
    position: fixed;
    right: 1rem;
    top: .8rem;

    p {
        color: $theme-color;
    }
}