/* Start of loading gif */
#loader {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    height: 100vh;
    opacity: 1;
    transition: all .8s ease-in-out !important;
}

/*Hidden class for adding and removing*/
.hidden {
    opacity: 0 !important;
    z-index: -1 !important;
}

/*Add an overlay to the entire page blocking any further presses to buttons or other elements.*/
.overlay {
    width: 100% !important;
    height: 100vh !important;
    background: white;
    z-index: 999;
    opacity: 1;
    transition: all 2s ease-in-out !important;
}

/*Spinner Styles*/
.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 5% auto;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: $theme-color transparent $theme-color transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* End of loading gif */