.blog-sidebar {
    position: fixed;
    padding: 2%;
    right: -100%;
    top: 20%;
    border-radius: 1rem;
    background-color: $sidebar-color;
    box-shadow: $theme-light-neumorphism;
    opacity: 1;
    transition: all .5s ease-in-out;
    z-index: -1;
    width: 20%;

    li {
        list-style-type: none;
    }
    
}

.blog-sidebar-hider {
    position: fixed;
    cursor: pointer;
    padding: 0 1%;
    right: 0;
    top: 22%;
    opacity: 0;
}

.blog-sidebar-opener {
    position: fixed;
    padding: 0 1%;
    right: 0;
    top: 22%;
    opacity: 1;
    cursor: pointer;
    transition: all .2s ease-in-out;
    color: $theme-color;
    border-top-left-radius: .6rem;
    border-bottom-left-radius: .6rem;
    background-color: $theme-light-transparent;
    box-shadow: $theme-light-neumorphism;
}

.widget_search .search-form .search-field {
    padding: .6rem;
}